[submodule "nbre/3rd_party/googletest"]
	path = nbre/3rd_party/googletest
	url = https://github.com/google/googletest.git
[submodule "nbre/3rd_party/glog"]
	path = nbre/3rd_party/glog
	url = https://github.com/google/glog.git
[submodule "nbre/3rd_party/rocksdb"]
	path = nbre/3rd_party/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "nbre/3rd_party/snappy"]
	path = nbre/3rd_party/snappy
	url = https://github.com/google/snappy.git
[submodule "nbre/3rd_party/zlib"]
	path = nbre/3rd_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "nbre/3rd_party/bzip2-1.0.6"]
	path = nbre/3rd_party/bzip2-1.0.6
	url = https://github.com/enthought/bzip2-1.0.6.git
[submodule "nbre/3rd_party/lz4"]
	path = nbre/3rd_party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "nbre/3rd_party/protobuf"]
	path = nbre/3rd_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "nbre/3rd_party/zstd"]
	path = nbre/3rd_party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "nbre/3rd_party/gperftools"]
	path = nbre/3rd_party/gperftools
	url = https://github.com/gperftools/gperftools.git
