# vendor dir.
vendor

# ide files.
.idea
.vscode

# Mac temp files.
.DS_Store

# build files
neb
!cmd/neb
debug
*.report
*.report.xml
*.log

# test debug
*.test

# db
*.db

# c/cpp temp files.
*.o

# 3rd test suites.
mozilla_js_tests*

#keydir
keydir
!consensus/dpos/keydir
